body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

h2,
p {
  text-align: center;
  color: #333;
  text-shadow: 4px 3px 4px #999;
}
h2 {
  font-family: "Josefin Slab", "Helvetica";
  font-weight: bold;
  font-style: normal;
  font-size: 4.5rem;
  margin: auto;
}

.container1 {
  padding-top: 70px;
  display: block;
  width: 100%;
}
P {
  font-size: 30px;
  font-weight: bold;
  font-family: "Josefin Slab", "Helvetica";
  margin: 0;
}
#button {
  font-size: 2.5rem;

  font-family: "IBM Plex Serif", serif;
  background-color: #ff1d8e;
  color: white;
  border-color: #ff1d8e;
  box-shadow: 10px 7px 7px #921554;
}
.button {
  display: flex;
  justify-content: center;
}
.arrow {
  font-size: 60px;
}
.collapse {
  display: flex;
  flex-direction: column;
}
h3 {
  color: greenyellow;
  font-family: "Josefin Slab", "Helvetica";
  font-size: 15px;
}
.navy {
  color: white;
  text-shadow: none;
  font-size: 12px;
  font-family: sans-serif;
}
